@model Timescales.Models.Timescale

@{
    ViewData["Title"] = "Edit";
    ViewData["Header"] = "authorTimescalesEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-muted">Edit Timescale</h4>

<div class="row">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Placeholder)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Placeholder)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Placeholder" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owners" class="control-label"></label>
                <input asp-for="Owners" class="form-control" />
                <span asp-validation-for="Owners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basis" class="control-label"></label>
                <select asp-for="Basis" class="form-control">
                    <option value="Working">Working</option>
                    <option value="Calender">Calender</option>
                    <option value="Notbh">Notbh</option>
                </select>
                <span asp-validation-for="Basis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <select asp-for="Site" class="form-control">
                    <option value="CSTD">CSTD</option>
                    <option value="CSG">CSG</option>
                    <option value="CCG">CCG</option>
                </select>
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineOfBusiness" class="control-label"></label>
                <input asp-for="LineOfBusiness" class="form-control" />
                <span asp-validation-for="LineOfBusiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldestWorkDate" class="control-label"></label>
                <input asp-for="OldestWorkDate" class="form-control" />
                <span asp-validation-for="OldestWorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                <div class="text-danger">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
