@model Timescales.Models.Timescale

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Timescale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Placeholder" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owners" class="control-label"></label>
                <input asp-for="Owners" class="form-control" />
                <span asp-validation-for="Owners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basis" class="control-label"></label>
                <select asp-for="Basis" class="form-control">
                    <option value="Working">Working</option>
                    <option value="Calender">Calender</option>
                    <option value="Notbh">Notbh</option>
                </select>
                <span asp-validation-for="Basis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineOfBusiness" class="control-label"></label>
                <input asp-for="LineOfBusiness" class="form-control" />
                <span asp-validation-for="LineOfBusiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldestWorkDate" class="control-label"></label>
                <input asp-for="OldestWorkDate" class="form-control" />
                <span asp-validation-for="OldestWorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <div class="text-danger">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
