@model Timescales.Models.Timescale

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>Application created by Guidance Development to allow guidance authors to create timescales and business owners to update timescales.</p>
<hr />
<p>If you experience any technical issues please contact the IT service centre.</p>
<p>Ask them to transfer to 'Guidance' Service Department.</p>
<hr />