
@{
    ViewData["Title"] = "Timescales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timescales</h2>

<div>
    <ul>
        <li><a asp-area="" asp-controller="TimescalesAuthor" asp-action="Index">Author</a></li>
        <li><a asp-area="" asp-controller="TimescalesBusiness" asp-action="Index">Business</a></li>
    </ul>
</div>


